html,
body,
#root,
.App {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  --linksColor: #ffb612;
  --linksHoverColor: #c58800;
  --chipsTextColor: #212529;
  --formControlBorderColor: #ffb612;
}

.display-1 {
  color: var(--linksColor) !important;
}

a {
  color: var(--linksColor) !important;
}

a:hover,
.dropdown-item:hover {
  color: var(--linksHoverColor) !important;
}
.form-control:focus {
  color: var(--formControlBorderColor) !important;
}

.chips {
  border-color: var(--linksColor) !important;
  color: var(--chipsTextColor) !important;
}

@media screen and (min-width: 1024px) {
  .w-lg-25 {
    max-width: 25% !important;
  }
}

/* Home */
@media screen and (min-width: 576px) {
  .Side-menu {
    margin-left: 20px !important;
    margin-top: -64px !important;
    background-color: initial !important;
    height: auto !important;
  }

  .irene-menu-icon {
    margin: 11px;
    margin-bottom: 12px;
    transition: all ease-in-out 0.2s;
  }
}

/* innovationSearch.jsx */
.react-datepicker-popper {
  z-index: 1070 !important;
}

.page-item.active .page-link {
  color: white;
}

.idea-status-0 {
  color: rgb(0, 171, 185) !important;
}

.idea-status-1 {
  color: rgb(210, 225, 0) !important;
}

.idea-status-2 {
  color: rgb(128, 128, 0) !important;
}

.idea-status-3 {
  color: rgb(130, 190, 0) !important;
}

.idea-status-4 {
  color: rgb(205, 0, 55) !important;
}

.loader {
  -webkit-animation: ripple 10s 1;
  animation: ripple 10s 1;
}
@-webkit-keyframes loader {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
  }
}
@keyframes loader {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
  }
}
